/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(135deg, #000000, #232323, #3a3a3a, #232323, #000000);
}

.flex-container {
  display: flex;
  max-width: 1100px;
  /* Increase this value if you want them wider apart */
  width: 100%;
  margin: 0 auto;
}

.outer-container {
  display: flex;
}

.content {
  flex: 1;
  max-width: 500pt;
  /* min-height: 500pt; */
  margin: auto;
  margin-top: 0;
  margin-bottom: 30px;
  border: 1px solid gray;
  padding: 5px 20px;
  background: white;
  box-shadow: 1px 1px 10px #22222277;

}

@media only screen and (max-width: 564pt){
  .hide-on-small {
    display: none;
  }
  .content{
    max-width: 400pt;
  }
}

